.header-dmg2kOW{
    font-family: big_noodle_titling, 'Righteous', cursive;
    /*font-family: 'Permanent Marker', cursive;
    font-family: 'Finger Paint', cursive;
    font-family: 'Frijole', cursive;
    font-family: 'Roboto', sans-serif;*/

    color: white;
    font-size: 1.5rem;
    font-weight: 100; /*So header isn't bold, looks bad with big_noodle_titling font*/
}
.header-dmg2kOW span{
    display: inline-block;
    margin-top:2.5rem;
    margin-left:20px;
}
.header-link-dmg2kOW{
    text-decoration: none;
    color: white;
    transition-duration: 250ms;
    transition-property: color; /*Specify for performance, Can be cpu intensive if you just leave it as "all" which is the default */
}
.header-link-dmg2kOW:hover{
    color: #f6ab26;
    
}
@media screen and (min-width: 768px){
    .header-dmg2kOW{
        font-size: 3rem;
       /* margin-right: 50px; */
    }
    .header-dmg2kOW span{
        margin-left:50px;
    }
    
}