.App {
  text-align: center;
  display:grid; 
  /*grid-template-rows: auto auto */
  background-image: linear-gradient(rgba(0, 0, 0, 0.95),rgba(0, 0, 0, 0.95)), url(./Assets/Images/damage-to-kill-ow-background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: black;
  min-height: 100vh;
  position:relative;
  padding-bottom:200px;
  grid-template-rows: 60px auto;
  /*justify-content: center;*/
}

/*Change root font size */
html{
  font-size:10px;
}
@media screen and (min-width: 768px){

  .App{
      grid-template-rows: 90px auto;
  }
  
}




